flows.json
[
    {
        "id": "80da23685dd12621",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4cacd79d57831b84",
        "type": "serial in",
        "z": "80da23685dd12621",
        "name": "MCU",
        "serial": "4e928620c7fcbd35",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "442304a5f6ae1f17"
            ]
        ]
    },
    {
        "id": "d7675c821b72a6ca",
        "type": "function",
        "z": "80da23685dd12621",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "442304a5f6ae1f17",
        "type": "debug",
        "z": "80da23685dd12621",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 60,
        "wires": []
    },
    {
        "id": "80cda52735f4a179",
        "type": "mqtt out",
        "z": "80da23685dd12621",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bf6b3b8a4ad71dba",
        "x": 1070,
        "y": 240,
        "wires": []
    },
    {
        "id": "e046e71432bd90d4",
        "type": "mqtt out",
        "z": "80da23685dd12621",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0fe82f3d91c444d9",
        "x": 1230,
        "y": 240,
        "wires": []
    },
    {
        "id": "05d04c6eb3f6190d",
        "type": "mqtt out",
        "z": "80da23685dd12621",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bee975905c1c044f",
        "x": 910,
        "y": 240,
        "wires": []
    },
    {
        "id": "90b5d702e1ab2987",
        "type": "debug",
        "z": "80da23685dd12621",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 260,
        "wires": []
    },
    {
        "id": "31cd857e06d78b4a",
        "type": "inject",
        "z": "80da23685dd12621",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 640,
        "wires": [
            [
                "e27172d09858dbff"
            ]
        ]
    },
    {
        "id": "e27172d09858dbff",
        "type": "hostip",
        "z": "80da23685dd12621",
        "name": "Host IP",
        "x": 440,
        "y": 640,
        "wires": [
            [
                "c5898a513942db8f"
            ]
        ]
    },
    {
        "id": "c5898a513942db8f",
        "type": "function",
        "z": "80da23685dd12621",
        "name": "depurar IpV4",
        "func": "msg.Ipv4 = msg.payload[1].address;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "50890cbe86a217d4",
        "type": "mqtt out",
        "z": "80da23685dd12621",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bee975905c1c044f",
        "x": 910,
        "y": 320,
        "wires": []
    },
    {
        "id": "8ae25133a1a231cc",
        "type": "mqtt out",
        "z": "80da23685dd12621",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bee975905c1c044f",
        "x": 930,
        "y": 400,
        "wires": []
    },
    {
        "id": "0d1360de7698e067",
        "type": "mqtt in",
        "z": "80da23685dd12621",
        "name": "",
        "topic": "acelerometro/ax",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bee975905c1c044f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 500,
        "y": 260,
        "wires": [
            [
                "90b5d702e1ab2987"
            ]
        ]
    },
    {
        "id": "4e928620c7fcbd35",
        "type": "serial-port",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "bf6b3b8a4ad71dba",
        "type": "mqtt-broker",
        "name": "LocalHost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0fe82f3d91c444d9",
        "type": "mqtt-broker",
        "name": "ServerTest",
        "broker": "192.168.100.86/24",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bee975905c1c044f",
        "type": "mqtt-broker",
        "name": "Server_2",
        "broker": "192.168.100.32",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]