flows.json
[
    {
        "id": "80da23685dd12621",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ccaadac99d5b4601",
        "type": "tab",
        "label": "TFG_TEST",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0a5e0ccab746cc33",
        "type": "tab",
        "label": "dataBase",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4e928620c7fcbd35",
        "type": "serial-port",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "bf6b3b8a4ad71dba",
        "type": "mqtt-broker",
        "name": "LocalHost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0fe82f3d91c444d9",
        "type": "mqtt-broker",
        "name": "ServerTest",
        "broker": "192.168.100.86/24",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bee975905c1c044f",
        "type": "mqtt-broker",
        "name": "Server_2",
        "broker": "192.168.100.32",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3f646db812c098ae",
        "type": "ui_tab",
        "name": "Aceleraciónes",
        "icon": "dashboard",
        "disabled": false,
        "hidden": true
    },
    {
        "id": "f86e046b696481d3",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#77090e",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#77090e",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#77090e",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#be0e16",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#77090e",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "27ffcb042077f03c",
        "type": "ui_group",
        "name": "Aceleraciónes MPU",
        "tab": "3f646db812c098ae",
        "order": 1,
        "disp": true,
        "width": "21",
        "collapse": true,
        "className": ""
    },
    {
        "id": "fa72db6935036249",
        "type": "ui_spacer",
        "z": "ccaadac99d5b4601",
        "name": "spacer",
        "group": "27ffcb042077f03c",
        "order": 1,
        "width": 21,
        "height": 1
    },
    {
        "id": "16e7eb8f8da60f12",
        "type": "ui_spacer",
        "z": "ccaadac99d5b4601",
        "name": "spacer",
        "group": "27ffcb042077f03c",
        "order": 5,
        "width": 21,
        "height": 1
    },
    {
        "id": "ed7ce4c2c62a4855",
        "type": "ui_spacer",
        "z": "ccaadac99d5b4601",
        "name": "spacer",
        "group": "27ffcb042077f03c",
        "order": 9,
        "width": 21,
        "height": 1
    },
    {
        "id": "c1f141c142412105",
        "type": "sqlitedb",
        "db": "sensorTest",
        "mode": "RWC"
    },
    {
        "id": "4cacd79d57831b84",
        "type": "serial in",
        "z": "80da23685dd12621",
        "name": "MCU",
        "serial": "4e928620c7fcbd35",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "442304a5f6ae1f17"
            ]
        ]
    },
    {
        "id": "d7675c821b72a6ca",
        "type": "function",
        "z": "80da23685dd12621",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "442304a5f6ae1f17",
        "type": "debug",
        "z": "80da23685dd12621",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 60,
        "wires": []
    },
    {
        "id": "80cda52735f4a179",
        "type": "mqtt out",
        "z": "80da23685dd12621",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bf6b3b8a4ad71dba",
        "x": 1070,
        "y": 240,
        "wires": []
    },
    {
        "id": "e046e71432bd90d4",
        "type": "mqtt out",
        "z": "80da23685dd12621",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0fe82f3d91c444d9",
        "x": 1230,
        "y": 240,
        "wires": []
    },
    {
        "id": "05d04c6eb3f6190d",
        "type": "mqtt out",
        "z": "80da23685dd12621",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bee975905c1c044f",
        "x": 910,
        "y": 240,
        "wires": []
    },
    {
        "id": "90b5d702e1ab2987",
        "type": "debug",
        "z": "80da23685dd12621",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 260,
        "wires": []
    },
    {
        "id": "31cd857e06d78b4a",
        "type": "inject",
        "z": "80da23685dd12621",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 640,
        "wires": [
            [
                "e27172d09858dbff"
            ]
        ]
    },
    {
        "id": "e27172d09858dbff",
        "type": "hostip",
        "z": "80da23685dd12621",
        "name": "Host IP",
        "x": 440,
        "y": 640,
        "wires": [
            [
                "c5898a513942db8f"
            ]
        ]
    },
    {
        "id": "c5898a513942db8f",
        "type": "function",
        "z": "80da23685dd12621",
        "name": "depurar IpV4",
        "func": "msg.Ipv4 = msg.payload[1].address;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "50890cbe86a217d4",
        "type": "mqtt out",
        "z": "80da23685dd12621",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bee975905c1c044f",
        "x": 910,
        "y": 320,
        "wires": []
    },
    {
        "id": "8ae25133a1a231cc",
        "type": "mqtt out",
        "z": "80da23685dd12621",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bee975905c1c044f",
        "x": 930,
        "y": 400,
        "wires": []
    },
    {
        "id": "0d1360de7698e067",
        "type": "mqtt in",
        "z": "80da23685dd12621",
        "name": "",
        "topic": "acelerometro/ax",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bee975905c1c044f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 500,
        "y": 260,
        "wires": [
            [
                "90b5d702e1ab2987"
            ]
        ]
    },
    {
        "id": "56aceb8b991fbe40",
        "type": "debug",
        "z": "ccaadac99d5b4601",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 360,
        "wires": []
    },
    {
        "id": "ea27135e032134af",
        "type": "mqtt in",
        "z": "ccaadac99d5b4601",
        "name": "",
        "topic": "acelerometro/ax",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bee975905c1c044f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 191,
        "y": 303,
        "wires": [
            [
                "56aceb8b991fbe40",
                "4c5f6640bbad9ba4",
                "66af0c6b7701f961",
                "dc96b8fd159c3e7e"
            ]
        ]
    },
    {
        "id": "0f687a9fb91e9326",
        "type": "debug",
        "z": "ccaadac99d5b4601",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 640,
        "wires": []
    },
    {
        "id": "afa5cd7e14c316b6",
        "type": "mqtt in",
        "z": "ccaadac99d5b4601",
        "name": "",
        "topic": "acelerometro/ay",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bee975905c1c044f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 560,
        "wires": [
            [
                "0f687a9fb91e9326"
            ]
        ]
    },
    {
        "id": "ce4958fcb1708f75",
        "type": "debug",
        "z": "ccaadac99d5b4601",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 720,
        "wires": []
    },
    {
        "id": "45e2d43ee86de083",
        "type": "mqtt in",
        "z": "ccaadac99d5b4601",
        "name": "",
        "topic": "acelerometro/az",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bee975905c1c044f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 720,
        "wires": [
            [
                "ce4958fcb1708f75"
            ]
        ]
    },
    {
        "id": "4c5f6640bbad9ba4",
        "type": "ui_gauge",
        "z": "ccaadac99d5b4601",
        "name": "",
        "group": "27ffcb042077f03c",
        "order": 6,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Aceleración X",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 220,
        "wires": []
    },
    {
        "id": "dc96b8fd159c3e7e",
        "type": "ui_chart",
        "z": "ccaadac99d5b4601",
        "name": "",
        "group": "27ffcb042077f03c",
        "order": 2,
        "width": 7,
        "height": 4,
        "label": "Aceleración X",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 440,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "66af0c6b7701f961",
        "type": "ui_text",
        "z": "ccaadac99d5b4601",
        "group": "27ffcb042077f03c",
        "order": 10,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Aceleración X",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 440,
        "y": 320,
        "wires": []
    },
    {
        "id": "0766c911b7a50d8f",
        "type": "debug",
        "z": "ccaadac99d5b4601",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 340,
        "wires": []
    },
    {
        "id": "c213a365fdc0ff92",
        "type": "mqtt in",
        "z": "ccaadac99d5b4601",
        "name": "",
        "topic": "acelerometro/ay",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bee975905c1c044f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 631,
        "y": 283,
        "wires": [
            [
                "0766c911b7a50d8f",
                "77211ade0c4c5a26",
                "54017bc919bcea8f",
                "f2c5e8218f9b65ef"
            ]
        ]
    },
    {
        "id": "77211ade0c4c5a26",
        "type": "ui_gauge",
        "z": "ccaadac99d5b4601",
        "name": "",
        "group": "27ffcb042077f03c",
        "order": 7,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Aceleración Y",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 880,
        "y": 200,
        "wires": []
    },
    {
        "id": "f2c5e8218f9b65ef",
        "type": "ui_chart",
        "z": "ccaadac99d5b4601",
        "name": "",
        "group": "27ffcb042077f03c",
        "order": 3,
        "width": 7,
        "height": 4,
        "label": "AceleraciónY",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "54017bc919bcea8f",
        "type": "ui_text",
        "z": "ccaadac99d5b4601",
        "group": "27ffcb042077f03c",
        "order": 11,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Aceleración y",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 880,
        "y": 300,
        "wires": []
    },
    {
        "id": "b3e0919682c56b7c",
        "type": "debug",
        "z": "ccaadac99d5b4601",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 320,
        "wires": []
    },
    {
        "id": "ec12d15b59610ff6",
        "type": "mqtt in",
        "z": "ccaadac99d5b4601",
        "name": "",
        "topic": "acelerometro/az",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bee975905c1c044f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1071,
        "y": 263,
        "wires": [
            [
                "b3e0919682c56b7c",
                "365701f2dbe21f9e",
                "d845d8fc0e536ed0",
                "62cf2f7cb736dc0c"
            ]
        ]
    },
    {
        "id": "365701f2dbe21f9e",
        "type": "ui_gauge",
        "z": "ccaadac99d5b4601",
        "name": "",
        "group": "27ffcb042077f03c",
        "order": 8,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Aceleración Z",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1320,
        "y": 180,
        "wires": []
    },
    {
        "id": "62cf2f7cb736dc0c",
        "type": "ui_chart",
        "z": "ccaadac99d5b4601",
        "name": "",
        "group": "27ffcb042077f03c",
        "order": 4,
        "width": 7,
        "height": 4,
        "label": "Aceleración Z",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1320,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "d845d8fc0e536ed0",
        "type": "ui_text",
        "z": "ccaadac99d5b4601",
        "group": "27ffcb042077f03c",
        "order": 12,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Aceleración Z",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1320,
        "y": 280,
        "wires": []
    },
    {
        "id": "c49e436b7019266b",
        "type": "inject",
        "z": "0a5e0ccab746cc33",
        "name": "Create Data base",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE \"mcu_sensor\" ( \t\"sensorID\"\tINTEGER NOT NULL, \t\"dataTime\"\tTEXT, \t\"accelerationX\"\tTEXT, \t\"accelerationY\"\tTEXT, \t\"accelerationZ\"\tTEXT, \t\"alertStatus\"\tTEXT, \t\"iserID\"\tINTEGER, \tPRIMARY KEY(\"sensorID\" AUTOINCREMENT) );",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 120,
        "wires": [
            [
                "5205cd8aa73ae6d0"
            ]
        ]
    },
    {
        "id": "5205cd8aa73ae6d0",
        "type": "sqlite",
        "z": "0a5e0ccab746cc33",
        "mydb": "c1f141c142412105",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 610,
        "y": 120,
        "wires": [
            [
                "f58ccc676c585455"
            ]
        ]
    },
    {
        "id": "f58ccc676c585455",
        "type": "debug",
        "z": "0a5e0ccab746cc33",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 120,
        "wires": []
    },
    {
        "id": "4f0c6112ebed723b",
        "type": "inject",
        "z": "0a5e0ccab746cc33",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "696028a1f5a1d67f"
            ]
        ]
    },
    {
        "id": "696028a1f5a1d67f",
        "type": "function",
        "z": "0a5e0ccab746cc33",
        "name": "function 2",
        "func": "var dataTime =\" 24/11/2023\";\nvar accelerationX = \"1.24\";\nvar accelerationY = \"0.99\";\nvar accelerationZ = \"9.81\";\nvar alertStatus = \" TRUE\";\nvar iserID = \" 01\";\n\nvar newMsg = {\n    \"topic\": \"INSERT INTO mcu_sensor VALUES (\" + 3 + \",\" + dataTime + \", \" + accelerationX + \", \" + accelerationY + \", \" + accelerationZ + \", \" + alertStatus + \", \" + iserID + \")\"\n\n}\n\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 240,
        "wires": [
            [
                "5205cd8aa73ae6d0"
            ]
        ]
    }
]